{% extends "base.html" %}

{% block content %}

<div class="container mt-5 mb-4">

    <h3 class="mt-3 p-3">Read the Best Blog in the Town</h3>
    <div class="row">


         <div class="col-lg-4">
            <div class="card shadow" style="width: 18rem;">
  <img src="https://www.intechnic.com/hubfs/Blog/Featured%20Images/Best%20Hotel%20Website%20Designs.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Hotel 1</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. </p>

   <button class="btn btn-success text-white">
       <i class="fa fa-thumbs-up" aria-hidden="true"></i>
       </button>
      <a href="#" class="btn btn-danger">View Blog</a>
  </div>
</div>
        </div>

         <div class="col-lg-4">
            <div class="card shadow" style="width: 18rem;">
  <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1c/f7/8b/38/exterior.jpg?w=900&h=-1&s=1" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Hotel 2</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

      <button class="btn btn-success text-white">
       <i class="fa fa-thumbs-up" aria-hidden="true"></i>
       </button>

      <a href="#" class="btn btn-danger">View Blog</a>
  </div>
</div>
        </div>

         <div class="col-lg-4">
            <div class="card shadow" style="width: 18rem;">
  <img src="https://media-cdn.tripadvisor.com/media/photo-s/1b/47/9f/8b/hotel-exterior.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Hotel 3</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

      <button class="btn btn-success text-white">
       <i class="fa fa-thumbs-up" aria-hidden="true"></i>
       </button>

      <a href="#" class="btn btn-danger">View Blog</a>
  </div>
</div>
        </div>

    </div>

</div>



{% endblock %}